.count-infos {
    .swiper {
        margin: 97px 0 212px 0;
    }

    &-box {

        &-count {
            font-size: 70px;
            color: $secondry-3;
            background: $gradient-bg;
            background-clip: text;
            -webkit-text-stroke: 2px transparent;
        }
    }

    @media(max-width:1023px) {
        .swiper {
            margin: 76px 0 163px 0;
        }

        &-box {
            &-count {
                font-size: 53px;
            }

            .primary-1 {
                margin-top: 4px;
                font-size: 13px;
            }
        }

    }
    @media(max-width:768px){
        display: none;
    }
}